
*{
  margin: 0;
  padding: 0;
}
.main{
  height: 100vh;
  width: 100vw;
  background-color: rgb(220, 206, 186);
  
}
.header{
  width: 93vw;
  background-color: rgb(110, 233, 192);
  padding: 30px;
  border: 2px solid black;
  border-radius: 50px;
}
.link-main{
  padding: 40px;
  height: 50vh;
  width: 15vw;
  border: 2px solid black;
  border-radius: 40px;
  background-color: rgb(140, 204, 109);

}
.link-sub{
  padding-top: 20px;
  font-size: 20px;
  padding-left: 10px;
  border: 2px solid black;
  border-radius: 50px;
  margin: 10px;
  text-align: center;
  background-color: rgb(91, 89, 227);
  width: 200px;
}
.link-main1{
  padding: 40px;
}
.Routing-main{
  display: flex;
}
.route-sub{
  margin-top: 40px;
  background-color: white;
  width: 70vw;
  border-radius: 40px;
  
}
.routing-text{
margin: 30px;
font-weight: 50px;
color: rgb(99, 99, 181);




}

